<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{{url_for('static', filename='style.css',_external=True)}}">
    <title>Document</title>

 
</head>
<body>
   <div class="container">
       <img src="{{url_for('static', filename='a.jfif',_external=True)}}" alt="">


    <p id='p'>{{name|capitalize}}</p>
    <p id='p'>{{name|safe}}</p>
    <p id='p'>{{name|lower}}</p>
    


   </div>


    
</body>
</html>